{{ define "content" }}
<div>

    <h1>TL;DR</h1>
    <div class="row gutters">
        <div class="col-6">
            <p>Hey, my name is Nick. I'm a web engineer with more than 7 years experience building
                everything from small websites to applications used to handle events for The Home Depot.</p>
            <p>If you would like more information or have any questions please feel free to check out my body of work or
                email me at <a href="mailto:blockade.web@gmail.com">blockade.web@gmail.com</a></p>
            <a class="button" href="/work" target="_blank">Work</a>
        </div>
        <div class="col-6">
            <p>I'm adept at the following languages, frameworks and tools:</p>
            <ul>
                <li>Go</li>
                <li>Angular | Typescript | Javascript</li>
                <li>WordPress | Woocommerce | PHP</li>
                <li>MySQL</li>
                <li>Docker</li>
                <li>Git | Github</li>
            </ul>
        </div>
    </div>

</div>
{{ end }}
