{{ define "content" }}
<div>
    <h1>Work</h1>

    <p>In 2016 I started working for a local web development company, Polyglot Labs. By 2019 I
        had moved to the backend team to work larger web applications using Go for backend and Angular
        for the frontend.</p>
    <p>My first project was for a local wrecker company. They needed a replacement for 3 of their
        much older software systems. Our company's goal was to combine the replacements for these systems
        into one web application. The project was quoted and they let me loose to build it, sink or swim.
        I spent multiple months working directly with that client, sometimes going to their place of
        business to get insights and understanding of their work flow so that I could build those things
        into this new application. The day after the application was deployed, I went back and fixed
        bugs and handled some quality of life changes in realtime, re-deploying from my laptop.</p>
    <p>Immediatly after that project was stable, I was moved onto the team that was making Product
        Walk, an application made to manage the Product Event for The Home Depot. Soon after that application
        was launched our team lead left the company and I was chosen as his replacement. My most notable
        contribution to this project was building a way to use this one app for multiple concurrent events.
        A year or so after the original project was launched, the client asked us to make a modified version
        to handle another similar event. Our team decided that the most reliable way to handle that was
        to add individual event settings to database instead of forking the app.</p>
    j
    <h1>Projects of Note</h1>
    <div class="row gutters">
        <div class="col-6">
            <h2>Product Walk | THDPLR</h2>
        </div>
        <div class="col-6">
            <h2>Standard Event Rentals</h2>
        </div>
    </div>
    <div class="row gutters">
        <div class="col-6">
            <h2>CMP</h2>
        </div>
        <div class="col-6">
            <h2>Orb</h2>
        </div>
    </div>

</div>
{{ end }}
