<form hx-post="/contactSubmit" class="form contact">
    <div class="row gutters">
        <div class="col-6">
            <input type="text" name="name" placeholder="Name">
        </div>
        <div class="col-6">
            <input type="email" name="email" placeholder="Email">
        </div>
    </div>
    <div class="row">
        <textarea name="message" placeholder="Message" rows="20"></textarea>
    </div>
    <div class="row">
        <div class="button-container">
            <button type="submit">Send</button>
            <button class="warn">Clear</button>
        </div>
    </div>
</form>

